<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dinosaurio.preciosdino">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Main.InitApplication"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        android:allowBackup="true"
        android:icon="@mipmap/icon_mamiwhite"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_mamiwhite_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ActivityClass.ScannerLoginActivity"
            android:screenOrientation="portrait"  ></activity>
        <activity
            android:name=".ActivityClass.SesionModeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityClass.ScanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityClass.ExportFileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityClass.ConfiguracionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityClass.ViewCargaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityClass.CargaEANActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityClass.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>